/*Master style*/
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation style */
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.left-side{
    display: flex;
}

.navigation > .left-side > div {
    margin-right: 28px;
    font-size: 1.5em;
}

.navigation-link{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link:hover {
    border-bottom: 1px solid black;
}

.navigation-link a:hover {
    color: black;
}

.NameTag{
    font-size: 1.5em;
    color: black;
    font-family: 'Brush Script MT', cursive;
}

/* Portfolio style */
.cont-header h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eb9834;
    font-size: 2.7em;
    background-color: #f0f8ff;
}