/*Master style*/
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation style */
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.left-side{
    display: flex;
}

.navigation > .left-side > div {
    margin-right: 28px;
    font-size: 1.5em;
}

.navigation-link{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link:hover {
    border-bottom: 1px solid black;
}

.navigation-link a:hover {
    color: black;
}

.NameTag{
    font-size: 1.5em;
    color: black;
    font-family: 'Brush Script MT', cursive;
}

/* Portfolio style */
.cont-header h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eb9834;
    font-size: 2.7em;
    background-color: #f0f8ff;
}

.portfolio-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: orange;
}

.portfolio-item{
    position: relative;
    margin-top: 1vh;
    margin-left: .5vw;
    margin-right: .5vw;
    margin-bottom: 1vh;
    background-repeat: no-repeat;
}

.portfolio-img-background{
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

/* .logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}

.logo-wrapper-1 img{
    width: 80%;
    margin-bottom: 20px;
} */
.image-text .subtitle-peano{
    font-weight: 600;
    font-size: 30px;
    transition: 1s;
    color: transparent;
    padding-left: 20px;
    padding-top: 35%;
}

.image-text:hover .subtitle-peano{
    font-weight: 600;
    color: #eff542;
    padding-top: 35%;
}

.image-text .subtitle-fill{
    font-weight: 600;
    font-size: 30px;
    transition: 1s;
    color: transparent;
/*     padding-left: 80px; */
    padding: 50%;
/*     padding-right: 0; */
    padding-top: 40%;
}

.image-text:hover .subtitle-fill{
    font-weight: 600;
    color: #eff542;
/*     padding-left: 80px; */
    text-align: center;
    padding: 50%;
/*     padding-right: 0; */
    padding-top: 40%;
}

.image-text .subtitle-robot{
    font-weight: 600;
    font-size: 30px;
    transition: 1s;
    color: transparent;
    padding-left: 0px;
    padding-top: 30%;
}

.image-text:hover .subtitle-robot{
    font-weight: 600;
    color: #eff542;
    padding-left: 0px;
    padding-top: 30%;
}

.image-text .subtitle-rab1{
    font-weight: 600;
    font-size: 30px;
    transition: 1s;
    color: transparent;
    padding-left: 0px;
    padding-top: 30%;
}

.image-text:hover .subtitle-rab1{
    font-weight: 600;
    color: #eff542;
    padding-left: 0px;
    padding-top: 30%;
}

.image-text .subtitle-rab2{
    font-weight: 600;
    font-size: 30px;
    transition: 1s;
    color: transparent;
    padding-left: 12px;
    padding-top: 30%;
}

.image-text:hover .subtitle-rab2{
    font-weight: 600;
    color: #eff542;
    padding-left: 12px;
    padding-top: 30%;
}

.image-text .subtitle-cir{
    font-weight: 600;
    font-size: 30px;
    transition: 1s;
    color: transparent;
    padding-left: 8px;
    padding-top: 30%;
}

.image-text:hover .subtitle-cir{
    font-weight: 600;
    color: #eff542;
    padding-left: 8px;
    padding-top: 30%;
}

.image-text .subtitle-capstone{
    font-weight: 600;
    font-size: 30px;
    transition: 1s;
    color: transparent;
    padding-left: 8px;
    padding-top: 30%;
}

.image-text:hover .subtitle-capstone{
    font-weight: 600;
    color: #eff542;
    padding-left: 8px;
    padding-top: 30%;
}

.img-blur {
    transition: 1s;
    filter: brightness(15%);
}